{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>S'incrire</h1>

        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_end(registrationForm) }}
        {{ form_row(registrationForm.plainPassword) }}

        <button class="btn">S'inscrire</button>

{% endblock %}
