
body{
    background-image: linear-gradient(to bottom,rgba(114, 137, 218, 0.5),  rgba(114, 137, 218, 0.5)),
  url("../landing_page/img/game1blurry.jpg");
    font-family: 'Lato';
}

.displayNone{
  display: none;
}


.navbar{
  background-color: rgba(17, 25, 74, 1);
}

/* explications pour recherche joueurs */

.explication{
  background-color :rgba(114, 137, 218, 0.9);
  border-radius: 2rem;
  padding: 2rem;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black !important;
}
.recherche{
  margin-top:2rem;
}

/* user infos */

h1,h2{
  color: white;
  
}
.title-shadow{
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black !important;
}

.bio{
  color:white;
}

.collection{
  margin-top:4rem;
}

.fiche{
  margin-top:5rem;
}

.bouton{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* footer */

footer{
  background-color: rgba(8, 3, 37, 1);
  margin-top: 10px;
  color: #fff;
  padding: 25px;
  font-weight: 300;
  text-align: center;
  
}
.footer p{
  margin-bottom: 0;
  font-size: 14px;
  margin: 0 0 10px;
  font-weight: 300;
}
footer p a{
  color: #555;
  font-weight: 400;
}

footer p a:hover {
  color: rgba(246, 140, 15, 1);
  text-decoration: none;
}



/* NAVBAR */

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

.nav-link {
  font-size: 1.05rem !important;
  display: block;
  padding: 0.5rem 1rem;
  
  }

  .nav-shadow{
    font-family:'Lato' !important;
  font-weight:bold !important;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black !important;
  }

  .nav-link:hover{
    text-decoration: none;
     }

  .nav-shadow:hover{
    transform: translateY(-3px);
    text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  }

    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  .nav-link.disabled {
    color: #6c757d; }

.nav-tabs {
  border-bottom: 1px solid #dee2e6; }
  .nav-tabs .nav-item {
    margin-bottom: -1px; }
  .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.125rem;
    border-top-right-radius: 0.125rem; }
    .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
      border-color: #e9ecef #e9ecef #dee2e6; }
    .nav-tabs .nav-link.disabled {
      color: #6c757d;
      background-color: transparent;
      border-color: transparent; }
  .nav-tabs .nav-link.active,
  .nav-tabs .nav-item.show .nav-link {
    color: #495057;
    background-color: #fafafa;
    border-color: #dee2e6 #dee2e6 #fafafa; }
  .nav-tabs .dropdown-menu {
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }

.nav-pills .nav-link {
  border-radius: 0.125rem; }

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #009688; }

.nav-fill .nav-item {
  flex: 1 1 auto;
  text-align: center; }

.nav-justified .nav-item {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center; }

.navbar-toggler .material-icons{
  color: #fff;
}

.navbar {
  z-index: 100;
  border: 0;
  border-radius: 3px;
  padding: .625rem 0;
  margin-bottom: 20px;
  color: #fff;
  background-color: rgba(8, 3, 37, 1)!important;
  z-index: 1000 !important;
  transition: all 150ms ease 0s;
  
}

.navbar.navbar-transparent {
  z-index: 1030;
  background-color: transparent!important;
  box-shadow: none !important;
  padding-top: 25px;
  color: #fff;
}

.navbar .navbar-brand {
  position: relative;
  color: inherit;
  padding: 0;
  height: 50px;
  font-size: 1.125rem;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

.navbar .navbar-nav .nav-item .nav-link:not(.btn) .material-icons {
  margin-top: -7px;
  top: 3px;
  position: relative;
  margin-right: 3px;
}

.navbar .navbar-nav .nav-item .nav-link .material-icons {
  font-size: 1.25rem;
  max-width: 24px;
  margin-top: -1.1em;
}

.navbar .navbar-nav .nav-item .nav-link .fa, .navbar .navbar-nav .nav-item .nav-link .material-icons {
  font-size: 1.25rem;
  max-width: 24px;
  margin-top: -1.1em;
}

.navbar .navbar-nav .nav-item .nav-link {
  position: relative;
  color: inherit;
  padding: .9375rem;
  font-weight: 400;
  font-size: 12px;
  border-radius: 3px;
  line-height: 20px;
}



.nav-pills, .nav-tabs {
  border: 0;
  border-radius: 3px;
  padding: 0 15px;
}

.nav .nav-item {
  position: relative;
  margin: 0 2px;
}

.nav-pills.nav-pills-icons .nav-item .nav-link {
  border-radius: 4px;
}

.nav-pills .nav-item .nav-link.active {
  color: #fff;
  background-color: rgba(246, 140, 15, 1);
  box-shadow: 0 5px 20px 0 rgba(0,0,0,.2), 0 13px 24px -11px rgba(246, 140, 15, 1);
}

.nav-pills .nav-item .nav-link {
  line-height: 24px;
  font-size: 12px;
  font-weight: 500;
  min-width: 100px;
  color: #555;
  transition: all .3s;
  border-radius: 30px;
  padding: 10px 15px;
  text-align: center;
}

.nav-pills .nav-item .nav-link:not(.active):hover {
  background-color: rgba(246, 140, 15, 1);
}


.nav-pills .nav-item i {
  display: block;
  font-size: 30px;
  padding: 15px 0;
}

a .material-icons {
  vertical-align: middle;
}

/* Link */
a.change{
  color: rgba(114, 137, 218, 1);
  transition: all .3s;
}
a.change:hover, .navbar a:hover, .navbar .nav-item a.nav-link:hover{
  color: rgba(246, 140, 15, 1);
  text-decoration: none;
}
/* dropdown menu */

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 11rem !important;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: .25rem;
  transition: transform .3s cubic-bezier(.4,0,.2,1),opacity .2s cubic-bezier(.4,0,.2,1);
}

.dropdown-menu.show{
  transition: transform .3s cubic-bezier(.4,0,.2,1),opacity .2s cubic-bezier(.4,0,.2,1);
}


.dropdown-menu .dropdown-item:focus, .dropdown-menu .dropdown-item:hover, .dropdown-menu a:active, .dropdown-menu a:focus, .dropdown-menu a:hover {
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(246, 140, 15, 1);
  background-color: rgba(246, 140, 15, 1);
  color: #FFF;
}
/* .show .dropdown-toggle:after {
  transform: rotate(180deg);
} */

/* .dropdown-toggle:after {
  will-change: transform;
  transition: transform .15s linear;
} */


.dropdown-menu .dropdown-item, .dropdown-menu li>a {
  position: relative;
  width: auto;
  display: flex;
  flex-flow: nowrap;
  align-items: center;
  color: #333;
  font-weight: 400;
  text-decoration: none;
  font-size: .8125rem;
  border-radius: .125rem;
  margin: 0 .3125rem;
  transition: all .15s linear;
  min-width: 7rem;
  padding: 0.625rem 1.25rem;
  min-height: 1rem !important;
  overflow: hidden;
  line-height: 1.428571;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.dropdown-menu.dropdown-with-icons .dropdown-item {
  padding: .75rem 1.25rem .75rem .75rem;
}

.dropdown-menu.dropdown-with-icons .dropdown-item .material-icons {
  vertical-align: middle;
  font-size: 24px;
  position: relative;
  margin-top: -4px;
  top: 1px;
  margin-right: 12px;
  opacity: .5;
}

/* BUTTONS */

.btn-primary {
  background-color: #7289da;
  border-color: #7289da;
}

.btn-primary:hover {
  background-color: #f68c0f !important;
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn-primary:active, .btn-primary:focus {
      outline: none;
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

      
.btn-primary, .btn-primary:link, .btn-primary:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: .5rem 1.5rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1rem;
  border: none;
  cursor: pointer; }

  .btn--animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards; }


    /* button secondary */


    .btn-secondary {
      /* background-color: #7289da; */
      border-color: white;
    }
    
    .btn-secondary:hover {
      background-color: #f68c0f !important;
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
      .btn:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0; }
    
    .btn-secondary:active, .btn-secondary:focus {
          outline: none;
          transform: translateY(-1px);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
    
          
    .btn-secondary, .btn-secondary:link, .btn-secondary:visited {
      text-transform: uppercase;
      text-decoration: none;
      padding: 1.5rem 4rem;
      display: inline-block;
      border-radius: 10rem;
      transition: all .2s;
      position: relative;
      font-size: 1rem;
      border: none;
      cursor: pointer; }
    
      .btn--animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards; }
    
/* Animation Card */
.animationCard {
  transition: all 150ms ease-out;
}
.animationCard:hover {
  transform: scale(1.05);
  z-index: 99;
  box-shadow: 0 0 8px black;
}



/* RESPONSIVE DESIGN */
@media (min-width: 992px){
	.nav-item:nth-child(3){
        margin-left: auto;
	}
}