.navbar{
    background-color: rgba(17, 25, 74, 1);
}
body{
    background-image: linear-gradient(to bottom,rgba(114, 137, 218, 0.5),  rgba(114, 137, 218, 0.5)),
  url("../landing_page/img/game1blurry.jpg");
    font-family: 'Lato';
}





/* RESPONSIVE DESIGN */
@media (min-width: 992px){
	.nav-item:nth-child(3){
        margin-left: auto;
	}
}