{% extends 'base.html.twig' %}

{% block title %}Recherche de joueurs{% endblock %}
{% block body %}

<div class="example-wrapper">
    <h1>Recherche de joueurs</h1>

    <!-- Search form -->
    <div class="container">
        <div class="row">
            ﻿<div class="col-sm-0 col-md-2 col-lg-3"></div>
            <div class="col-sm-12 col-md-8 col-lg-6">
                ﻿<div class="form-group">
                    <input class="form-control" type="text" id="search-gamer" value="" placeholder="Entrer le nom d'un jeu"/>
                </div>
            </div>
        </div>
    </div>
    <br>
        <div class="row">
            ﻿<div class="col-sm-0 col-md-2 col-lg-3"></div>
            <div class="col-sm-12 col-md-8 col-lg-6">
                ﻿<div class="form-group">
                    <input class="form-control" type="text" id="search-localisation" value="" placeholder="Entrer une localisation"/>
                </div>
            </div>
        </div>
    </div>
    <br>
    <button type="button" class="btn btn-secondary"><a href="#">Lancer la recherche</a></button>

    <div id="result"></div>
</div>


    <script>
        $(document).ready(function(){
            $('#search-localisation').keyup(function(){
                var localisation = $(this).val();
                if(localisation != '')
                {

                } else {
                    $('#result').html('');
                    $.ajax ({
                        url: "XXXXXXX.php",
                        method: "get",
                        data: {search:localisation},
                        dataType:"text",
                        success:function(data)
                        {
                            $('#result').html('data');
                        }
                    });
                }
            });
        });
    </script>

{% endblock %}
