{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
<style>
   
</style>

<div class="container fluid">
    <h1>Bienvenue {{user.username}}</h1>

    <img src="{{user.avatar}}">

<div class="container fluid">
    <h2>Mes infos</h2>

    <p>{{user.bio}}</p>

</div>

<div class="container fluid">
    <h2>Mes jeux</h2>

    <p>{{user.bio}}</p>

</div>




    


    
</div>
{% endblock %}
