{% extends 'layout.html.twig' %}

{% block title %}Ludo | Écrire un message à un joueur{% endblock %}

{% block body %}


    <div class="container">
        <p>Répondre à : {{ recipient.username }}</p>
            {{ form(write_form) }}
            <a class="btn btn-danger" href="{{path('message_read')}}" role="button">Annuler</a>
    </div>

{% endblock %}
