body{
    background-color: rgba(114,137,218,0.7);
    font-size:14px;
    color:#fff;
    background-image: url('../img/game7blurry.jpg');
    font-family:'Lato';
}

h1{
    font-family: 'Catamaran';
    font-size: 4rem;
    margin-bottom:3rem;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

h4, h6{
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

.simple-login-container{
    width:300px;
    max-width:100%;
    margin:50px auto;
    font-family: 'Catamaran';
    margin-bottom:2rem;
}
.simple-login-container h2{
    text-align:center;
    font-size:4rem;
    font-family: 'Lato';
}

.row{
    text-align: left;
}

.formFields{
    font-family:'Lato';
    font-weight:bold;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}

.simple-login-container .btn-login{
    background-color:#f68c0f;
    color:#fff;
}
a{
    color:#fff;
}

.row.d-flex.flex-nowrap.mx-auto{
    margin:0 auto;
}

/* buttons */

.btn-primary {
    background-color: #7289da;
    border-color: #7289da;
  }
  
  .btn-primary:hover {
    background-color: #f68c0f !important;
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  
  .btn-primary:active, .btn-primary:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  
        
  .btn-primary, .btn-primary:link, .btn-primary:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1rem;
    border: none;
    cursor: pointer; }
  
    .btn--animated {
      animation: moveInBottom .5s ease-out .75s;
      animation-fill-mode: backwards; }


      /* button secondary */


      .btn-secondary {
        /* background-color: #7289da; */
        border-color: white;
      }
      
      .btn-secondary:hover {
        background-color: #f68c0f !important;
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
        .btn:hover::after {
          transform: scaleX(1.4) scaleY(1.6);
          opacity: 0; }
      
      .btn-secondary:active, .btn-secondary:focus {
            outline: none;
            transform: translateY(-1px);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
      
            
      .btn-secondary, .btn-secondary:link, .btn-secondary:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
        font-size: 1rem;
        border: none;
        cursor: pointer; }
      
        .btn--animated {
          animation: moveInBottom .5s ease-out .75s;
          animation-fill-mode: backwards; }


          .personnalisation{
            background-color: rgba(246, 140, 15, .7);
            padding: 2rem;
            border-radius: 2rem;
          }

          /* button tertiary */
          .btn-tertiary:hover {
            background-color: #f68c0f !important;
            transform: translateY(-3px);
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
            .btn:hover::after {
              transform: scaleX(1.4) scaleY(1.6);
              opacity: 0; }
          
          .btn-tertiary:active, .btn-tertiary:focus {
                outline: none;
                transform: translateY(-1px);
                box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
          
                
          .btn-tertiary, .btn-tertiary:link, .btn-tertiary:visited {
            text-transform: uppercase;
            text-decoration: none;
            padding: 0.5rem 1rem;
            display: inline-block;
            border-radius: 10rem;
            transition: all .2s;
            position: relative;
            font-size: 0.8rem;
            color:white;
            border: none;
            cursor: pointer; 
            background-color: #080224 !important;}
          